<div class="container mt-3">
    <div *ngIf="usuarioCriado" class="alert alert-success" role="alert">
        Usuario criado com sucesso!
      </div>
    <h5>Login</h5>
    <form>
        <div class="mb-3">
            <label for="login" class="form-label">Login:</label>
            <input [(ngModel)]="usuario.login" type="text" class="form-control" name="login">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Password</label>
            <input [(ngModel)]="usuario.senha" type="password" class="form-control" name="senha">
        </div>
        <button type="submit" class="btn btn-success" (click)="fazerLogin()">Entrar</button>
        <button type="submit" class="btn btn-primary" (click)="novoUsuario()">Novo Usuário</button>
    </form>
</div>
