@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";


.card{
    width: 10rem;
    height: 20rem;
}

.card-img-top{
    height: 13rem;
}

.card-body{
    height: 7rem;
}

.card-text{
    
    font-size: 0.9em;
}

span{
    display: inline;
}

