
<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="latestAnimes$ | async; else loading">
    <h1>Ultimos Episódios Lançados</h1><br>
    <div class="d-flex flex-wrap justify-content-center">
       
        <div *ngFor="let episode of latestAnimes$ | async">

            <app-anime-card [title]="episode.title" [image]="'https://cdn.appanimeplus.tk/img/'+episode.category_image" [latest]="true">
            </app-anime-card>
        </div>
    </div>
</div>


<ng-template #loading>
    <h2>Carregando...</h2>
</ng-template>